<footer>
    <div class="footer">
        <h6>Footer things</h6>
        <div class="contact">
            <p><b>Contact me</b></p>
            <a href="mailto:sam.wilde16@icloud.com">sam.wilde16@icloud.com</a> | <a href="tel:{{ settings.details.ContactInformation.mobile_number }}">{{ settings.details.ContactInformation.mobile_number }}</a></p>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/{{ settings.details.SocialMediaSettings.instagram }}/"><img src="https://cdn2.iconfinder.com/data/icons/social-flat/512/instagram-128.png"></a>
            <a href="{{ settings.details.SocialMediaSettings.youtube }}"><img src="https://cdn3.iconfinder.com/data/icons/follow-me/256/YouTube-512.png"></a>
        </div>
    </div>
</footer>