db.sqlite
db.sqlite3
*.egg-info
*.pot
*.py[co]
.env

# OS/Editor files
.DS_Store
.vscode/

# Wagtail Editor Files
*media
env/

# Static CSS
/static

# Node modules
node_modules

# Test logs
geckodriver.log
ghostdriver.log